<header>
    <nav class="navbar bg--dark">
        <div class="container flex--between">
            <a class="navbar__brand item--center" href="/">CEPIN-CIS</a>
            <ul class="navbar__nav">
                <li class="nav__item">
                    <a class="nav__link" href="/about">Sobre</a>
                </li>
                <li class="nav__item dropdown">
                    <a class="nav__link flex--gap--6" href="#">Área Temáticas <ion-icon class="ion__icon f--20"
                            name="caret-down-outline"></ion-icon></a>
                    <ul class="dropdown__menu">
                        <li>
                            <a class="dropdown__item" href="#">[IoT]</a>
                        </li>
                        <li>
                            <a class="dropdown__item" href="#">[CarbonZero]</a>
                        </li>
                        <li>
                            <a class="dropdown__item" href="#">[UrbSmart]</a>
                        </li>
                        <li>
                            <a class="dropdown__item" href="#">[EcoMat]</a>
                        </li>
                        <li>
                            <a class="dropdown__item" href="#">[eduCIS]</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/production">Produção</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
</header>