:root {
    --color-dark: #0f1011;
    --color-light: #f8f9fa;
}

/* Reset Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-light);
}

/* Global */

a {
    color: var(--color-light);
}

.bg--dark {
    background-color: var(--color-dark);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 14px 20px;
}

.flex--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex--gap--6 {
    display: flex;
    gap: 6px;
}

.f--20 {
    font-size: 20px;
}

/* Navbar */

.navbar__brand {
    font-size: 1.4rem;
}

.navbar__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__item,
.nav__item a.nav__link {
    transition: ease-in-out .3s;
}

.nav__item a.nav__link {
    padding: 8px;
    border-radius: 5px;
}

.nav__item a.nav__link:hover,
.dropdown:hover>a.nav__link {
    background-color: var(--color-light);
    color: var(--color-dark);
}

/* Icons */

.ion__icon {
    transition: transform 0.3s ease-in-out;
}

.nav__item:hover .ion__icon {
    color: var(--color-dark);
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out;
}

/* Dropdown */

.dropdown {
    position: relative;
}

.dropdown__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    padding-top: 16px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    background-color: var(--color-dark);
    overflow: hidden;
}

.dropdown__menu li {
    display: flex;
    width: 100%;
}

.dropdown__item {
    width: 100%;
    padding: 8px 10px;
}

.dropdown:hover .dropdown__menu {
    display: flex;
}

.dropdown__item:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

/* Hero */
.hero {
    height: 500px;
    background-image: url(../img/banner2.png);
    background-size: cover;
    background-position: center;
}

/* Footer */

p {
    color: var(--color-light);
}
